<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Baydamafish{% endblock %}</title>
		{% block stylesheets %}
	    {# On charge le CSS de bootstrap depuis le site directement #}
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    {% endblock %}
	</head>
	<body>
		<header class="container-fluid" style="background-color: #444">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<img src="{{ asset('favicon.ico') }}" id="logo"/>
					</div>
					<div class="col-lg-6 col-lg-offset-3">
						<ul class="nav navbar navbar-nav">
				            <li><a href="{{ path('baydamafish_app_homepage') }}">ACCUEIL</a></li>
				            <li><a href="{{ path('baydamafish_app_about') }}">A PROPOS DE NOUS</a></li>
				            <li><a href="{{ path('baydamafish_app_help') }}">AIDE</a></li>
				            <li><a href="{{ path('baydamafish_app_contact') }}">CONTACT</a></li>
				            <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-search"></span></a></li>
				        </ul>
					</div>
				</div>
			</div>
		</header>
		<div class="container-fluid">
	        {% block body %}
	        {% endblock %}
	    </div>
		<footer class="container-fluid" style="background-color: #656565">
			<div class="container">FOOTER</div>
		</footer>
		{% block javascripts %}
    	{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  		{% endblock %}
	</body>
</html>